<h1>Menu</h1>

<h2>Drinks</h2>
<ul>
  <li>Coffee: $3</li>
  <li>Tea: $3</li>
  <li>Milkshake: $5</li>
  <li>Fresh juice: $5</li>
</ul>

<h2>Food</h2>
<ul>
  <li>Muffin: $4</li>
  <li>Toastie: $6</li>
</ul>
