<body>
  <div class="pretty">
    <h1>Menu</h1>
    <hr>
    <h2>Drinks</h2>
    <hr>

      <% @drinks.each do |item| %>
        <p><%= render item %></p>
      <% end %>

    <hr>
    <h2>Food</h2>
    <hr>
      <% @food.each do |item| %>
        <p><%= render item %></p>
      <% end %>
    </div>
</body>
